# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Programming\advancedWeb-PJ-backend\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
